.pane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pane-header {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 4px;
  height: 40px;
  padding: 0 8px;
}

.pane-header > .section-title {
  align-items: center;
  display: flex;
  flex: 1;
  height: 40px;
  padding: 0 8px;
}

.pane-content {
  cursor: text;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 0 16px 48px;
}
